.wrapper {
  background: #ffffff;

  width: 100%;
  padding: 15px 0px 0 0;
  height: 100vh;
    
  overflow: hidden;
  overflow-y: scroll;

  scrollbar-gutter: stable;
  padding-bottom: 25vh;
  position: relative;
}


.wrapper{
  scrollbar-color: #c9a84c white ;
}


.listView, .cardGrid{
  width: 100%;

}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  position: sticky;
  top: 0;
  left: 0;

  width: 100%;
  margin-bottom: 16px;
  z-index: 5;
  gap: 10px;
  background: white;

  padding: 15px 20px 0 20px;
}


.headerTop{

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.headerBottom{

  display: flex;
  justify-content: space-around;
  align-items: center;

}

.title {
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 1px;
  color: #1a4731;
  text-align: center;
}

.loading {
  text-align: center;
  padding: 60px;
  color: #666;
}

.viewToggle {
  display: flex;
  gap: 4px;
}

.viewBtn {

  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background 0.15s;
  background: #e6e6e6;
    color: white;
}




.activeView {
  background: #4e4e4e;
  color: white;
  padding: 10px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;

  gap: 8px;
  margin-bottom: 16px;

  align-items: center;
  width: 100%;
}

.tab {
  padding: 5px 15px;
  border-radius: 50px;
  border: 2px solid #1a4731;
  background: white;
  color: #1a4731;
  font-size: 0.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 6px;
  margin: auto;

  flex: 1 1 calc(100% / 6);
}

.activeTab {
  background: #1a4731;
  color: white;
}

.tabCount {
  background: rgba(0,0,0,0.15);
  border-radius: 10px;
  padding: 1px 6px;
  font-size: 0.75rem;
  display: none;
}

/* List View */
.listView { display: flex; flex-direction: column; gap: 2px; padding: 0 15px;}

.listHeader {
  display: grid;
  grid-template-columns: 40px 1fr 70px 70px 50px 30px;
  padding: 6px 16px;
  font-size: 0.55rem;
  letter-spacing: 1px;
  position: sticky;
  text-align: center;
  top: 110px;
  background: white;

  margin-bottom: 10px;
}

.listRow {
  display: grid;
  grid-template-columns: 40px 1fr 70px 70px 50px 30px;
  align-items: center;
  background: #116957;
  border-radius: 6px;
  padding: 14px 16px;
  color: white;
  margin-bottom: 2px;
  z-index: 2;

}
.listRow:hover{
  cursor: pointer;
  background: #0d5245ba;
}




.colPos { font-weight: 800; font-size: 0.7rem; }
.colTeam { font-weight: 700; font-size: 0.8rem; }
.colStat { text-align: center; font-weight: 700; font-size: 0.75rem; }
.colExpand { text-align: right; opacity: 0.4; font-size: 0.75rem; }

.listHeader .colPos { font-size: 0.55rem; text-align: left; font-weight: 500;}
.listHeader .colTeam { font-size: 0.55rem; text-align: left; font-weight: 500;}

/* Card View */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 16px;
  padding: 20px;
}

.card {
  background: #F1F1F1;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgb(197, 197, 197);
  display: flex;
  flex-direction: column;
  gap: 5px;

  
}

.cardHeader {
  background: #116957;
  color: white;
  display: grid;
  grid-template-columns: 35px 1fr 50px 50px 50px;
  align-items: center;
  padding: 18px 10px;
  gap: 5px;
  font-size: 0.7rem;
  text-align: center;
}

.cardRank  { text-align: left;} 

.cardTeamName { font-weight: 700; font-size: 0.75rem; text-align: left;} 

/* .cardTotal { text-align: center; font-weight: 800; font-size: 1rem; }
.cardToday { text-align: center; font-size: 0.85rem; font-weight: 600; }
.cardCuts { text-align: center; font-size: 0.85rem; opacity: 0.8; } */

.cardGolferHeader {
  display: grid;
  grid-template-columns: 50px 1fr repeat(4, 40px);
  padding: 6px 16px;
  font-size: 0.5rem;
  text-transform: uppercase;
  color: #aaa;
  letter-spacing: 1px;
  border-bottom: 1px solid #f0f0f0;

  margin: 0;
  text-align: center;
  

}

.cardGolferRow {
  display: grid;
  grid-template-columns: 50px 1fr repeat(4, 40px);
  align-items: center;
  padding: 7px 16px;
  border-bottom: 1px solid #f5f5f5;
  background: white;
  font-size: 0.7rem;
  color: #116957;

}

.cardGolferRow:last-child { border-bottom: none; }

/* .cgPos { font-size: 0.8rem; } */
.cgName { font-weight: 600; }
.cgStat { text-align: center; font-weight: 600; }

.cutGolfer { background: #b6b6b6; }
.cutGolfer .cgName { color: #5c5c5c; }
.cutGolfer .cgPos { color: #5c5c5c; }

/* Score colors */
/* .under { color: #1a6b3c; }
.over { color: #c0392b; }
.even { color: #333; } */



.expandedGolfers {
  background: #F1F1F1;
  margin-bottom: 10px;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

.roundTabs {
  display: flex;
  gap: 6px;
  margin-bottom: 12px;
  flex-wrap: wrap;
}

.roundTab {
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid #888;
  background: white;
  color: #888;

  font-size: 0.5rem;
  cursor: pointer;
}

.activeRoundTab {
  border-color: #1a4731;
  background: #1a4731;
  color: white;
}


.searchBox {
  display: flex;
  align-items: center;
  gap: 6px;
  background: white;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 20px;
  padding: 6px 12px;
  z-index: 10;
  color: rgb(83, 83, 83);
  width: 100%;
  max-width: 400px;
}

.searchBox input {
  background: none;
  border: none;
  color: rgb(83, 83, 83);
  font-size: 16px;
  outline: none;
  width: 100%;
}

.searchBox input::placeholder {
  color: rgb(152, 152, 152);
}

.clearBtn {
  background: none;
  border: none;
  color: rgb(83, 83, 83);
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0;
}

.filterPill {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: rgb(188, 188, 188);
  border-radius: 20px;
  padding: 4px 12px;
  font-size: 0.75rem;
  color: rgb(64, 64, 64);
  margin-bottom: 8px;
  border: 1px solid rgb(164, 164, 164);
}

.filterPill button {
  background: none;
  border: none;
  color: rgb(64, 64, 64);
  cursor: pointer;
  font-size: 0.8rem;
}

.myTeamRow {
  border-left: 3px solid #c9a84c;
  /* background: rgba(201, 168, 76, 0.08); */
}

.myTeamCard {
  border: 2px solid #c9a84c;
  /* background: rgba(201, 168, 76, 0.08); */
}

.starBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 4px 0 0;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.headerButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}



.filterBtnActiveGold {
  border: #c9a84c 1px solid;
}

@media screen and (max-width: 725px) {
  .headerTop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  .headerBottom{

    display: flex;
    flex-direction: column;

    align-items: flex-start;

  }




}